<div class="d-flex w-100 h-100 justify-content-center align-items-center">
    <p-table
      #table
      [rows]="10"
      class="p-table"
      [customSort]="true"
      (sortFunction)="sortNamePokemons($event)"
      [value]="pokemons"
      [paginator]="true"
      [(first)]="currentPage"
      [pageLinks]="3"
      [totalRecords]="totalRecords"
    >
      <ng-template pTemplate="caption" >
        <div class="container mt-3">
          <div class="row">
            <div class="col d-flex px-0">
              <span class="p-float-label">
                <input type="text" pInputText [(ngModel)]="searchValue" [typeahead]="pokemons" (ngModelChange)="textSearch($event)" />
                <label class="text-sm">Nombre</label>
              </span>
            </div>
            <div class="col d-flex justify-content-end buttonClear">
                <button pButton label="Clear" (click)="clear(table)" class="p-button-outlined p-button-sm px-2"></button>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" style="width:20%">Nombre <p-sortIcon field="name"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pokemon>
          <tr *ngIf="pokemon !== '\u00A0' && pokemon !== 'No se encontraron resultados.'" role="button" (click)="showDialog(pokemon)" >
            <td class="row-table-pokemons">{{pokemon}}</td>
          </tr>
          <tr *ngIf="pokemon === '\u00A0' || pokemon === 'No se encontraron resultados.'" >
            <td class="row-table-empty">{{pokemon}}</td>
          </tr>
      </ng-template>
    </p-table>
</div>

<app-dialog *ngIf="pokemon" [pokemon]="pokemon" [visible]="dialogVisible" (visibleChange)="closeDialog($event)"></app-dialog>
