.div-type{
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    padding-left: 15px;
    border-radius: 5px;
    padding-right: 15px;
    
 }
 .text-type{
    width: 100%;
    height: 40%;
    color: #ebecec;
 }
 
 .weight-title .height-title .numberPokemon{
    font-weight: 900;
    color: black;
 }